/* Adjust the position of the section when jumping to it */
#Introduction {
    padding-top: 50px; 
    margin-top: -50px; 
}

#Objectives {
    padding-top: 50px;
    margin-top: -50px; 
}

#Methods {
    padding-top: 50px;
    margin-top: -50px; 
}

#Results {
    padding-top: 50px;
    margin-top: -50px; 
}

#RelatedW {
    padding-top: 50px;
    margin-top: -50px; 
}

/* Adjust format and color of buttons */
button {
    background-color: #85afe4; /* Lighter Blue */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    background-color: #76acf3; /* Darker blue */
}

button a {
    color: white;
}

/* format meet the team */
.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.gallery div {
    text-align: center;
}

.gallery img {
    width: 100%;
    height: auto;
}

