/* Adjust the position of the section when jumping to it */
#Introduction {
    padding-top: 50px; 
    margin-top: -50px; 
}

#Objectives {
    padding-top: 50px;
    margin-top: -50px; 
}
